# Node.js dependencies
node_modules/

# Next.js build output
.next/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# System files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

ء
